.link {
    text-decoration: none;
    transition: opacity 0.2s;
}
.link:hover {
    opacity: 0.8;
}

.back__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: inherit;
    cursor: pointer;

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}