{% extends "_form_template.html" %}
{% load static %}
{% block title %}
  Пароль изменен
{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
  <div class="custom-center-block">
    <p class="custom-text-block">
      Пароль успешно изменeн!
    </p>
    <div class="custom-button-block">
      <a href="{% url 'food:home' %}" class="custom-text-block link">
          Перейти на главную
      </a>
    </div>
  </div>
{% endblock %}