<ul class="single-card__items">
  {% for tag in recipe.tags.all %}
  <li class="single-card__item">
    <span class="badge badge_style_{{ tag.color }}">
      {{ tag.title }}
    </span>
  </li>
  {% endfor %}
</ul>
<div class="single-card__items single-card__items_column">
  <p class="single-card__text">
    <span class="icon-time">
    </span>
    {{ recipe.cooking_time }} мин.
  </p>
  <ul class="single-card__items">
    <li class="single-card__item">
      <p class="single-card__text">
        <span class="icon-user">
        </span>
        <!-- ссылка на страницу автора -->
        <a 
        href="{% url 'food:food_author_page' recipe.author.id %}" class="single-card__text">
          {{ recipe.author.get_full_name }}
        </a>
      </p>
    </li>
    <!-- автору рецепта доступно его редактирование -->
    {% if request.user == recipe.author and request.resolver_match.view_name == 'food:food' %}
    <li class="single-card__item">
      <a
      style="margin-left: 2.5em"
      href="{% url 'food:food_edit' recipe.id %}" class="single-card__text">
        Редактировать рецепт
      </a>
    </li>
    {% endif %}
  </ul>
</div>