{% extends '_base.html' %}
{% load static %}
{% block title %}
  Ошибка 500
{% endblock %}
{% block static %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
  <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock static %}
{% block header %}
  <h1 class="main__title">
    Ошибка на сервере, попробуйте обновить страницу или обратиться позже
  </h1>
{% endblock header %}
{% block content %}
<p class="tags__label">
    Возвращайтесь что ли на <a href="{% url 'food:home' %}">главную</a>
</p>
{% endblock content %}